.findgreatvalue-items{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
    overflow-x: scroll;
}
.findgreatvalue-items::-webkit-scrollbar{
    display: none;
}
.findgreatvalue-item{
    border: 1px solid lightgray;
    border-radius: 7px;
    min-width: 230px;
}
.findgreatvalue-item-header{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: pink;
}
.findgreatvalue-item-header p{
    font-size: 20px;
}
.findgreatvalue-item-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.findgreatvalue-item-center img{
    height: 180px;
}
.findgreatvalue-item-center p{
    height: 30px;
    margin-bottom: 10px;
}

.findgreatvalue-item-button{
    color: white;
    background-color: green;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}